<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
</head>
<body>
  <header>
    Header
    <hr>
  </header>

  <form>
    <label for="uid">UserId</label>
    <input id="uid" type="text" required>
    <label for="username">Username</label>
    <input id="username" type="text">
    <label for="password">Password</label>
    <input id="password" type="password" required>
    <label for="email">Email</label>
    <input id="email" type="email" placeholder="user@example.com">
    <button type="submit">SignUp</button>
  </form>

  <footer>
    <hr>
    Footer
  </footer>

</body>
</html>